@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "CascadiaCode";
  src: url("../public/fonts/CascadiaCode.ttf");
}

html,body{
  overflow-x: hidden;
}

:root {
  --black: 
rgba(0, 0, 0, 1);
  --violet: 
rgba(30, 12, 68, 0.6);
  --main-text: 
rgba(32, 2, 99, 1);
  --grape: 
rgba(56, 35, 76, 1);
  --masala: 
rgba(61, 61, 61, 1);
  --bossanova: 
rgba(65, 40, 89, 1);
  --cyber-grape: 
rgba(88, 47, 127, 0.369);
  --granite-gray: 
rgba(102, 102, 102, 1);
  --blue-marguerite: 
rgba(125, 110, 200, 1);
  --delta: 
rgba(163, 163, 163, 1);
  --quick-silver: 
rgba(164, 164, 164, 1);
  --biloba-flower: 
rgba(173, 162, 227, 0.149);
  --light-hover: 
rgba(217, 210, 255, 1);
  --alto-2: 
rgba(217, 217, 217, 0.251);
  --alto2: 
rgba(217, 217, 217, 1);
  --petite-orchid: 
rgba(221, 152, 152, 1);
  --almost-white: 
rgba(252, 252, 252, 1);
  --macaroni-and-cheese: 
rgba(253, 191, 111, 1);
  --white-2: 
rgba(255, 255, 255, 0.749);
  --white: 
rgba(255, 255, 255, 1);

  --font-size-s: 7.5px;
  --font-size-m: 10px;
  --font-size-l: 15px;
  --font-size-xl: 20px;
  --font-size-xxxxl: 50px;
  --font-size-s2: 5px;
  --font-size-xxl2: 25px;
  --font-size-xxxl2: 30px;

  --font-family-cascadia_code-bold: "Cascadia Code-Bold";
  --font-family-cascadia_code-regular: "Cascadia Code-Regular";
  --font-family-courier_new-regular: "Courier New-Regular";
  --font-family-inter: "Inter";
  --font-family-roboto: "Roboto";
}




.couriernew-regular-normal-masala-25px {
  color: var(--masala);
  font-family: var(--font-family-courier_new-regular);
  font-size: var(--font-size-xxl2);
  font-weight: 400;
  font-style: normal;
}
.cascadiacode-regular-normal-white-15px {
  color: var(--white);
  font-family: var(--font-family-cascadia_code-regular);
  font-size: var(--font-size-l);
  font-weight: 400;
  font-style: normal;
}
.cascadiacode-regular-normal-blue-marguerite-15px {
  color: var(--blue-marguerite);
  font-family: var(--font-family-cascadia_code-regular);
  font-size: var(--font-size-l);
  font-weight: 400;
  font-style: normal;
}
.inter-normal-white-7-5px {
  color: var(--white-2);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-weight: 400;
  font-style: normal;
}
.inter-normal-white-30px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxl2);
  font-weight: 400;
  font-style: normal;
}
.roboto-bold-paua-20px {
  color: var(--main-text);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xl);
  font-weight: 700;
  font-style: normal;
}
.roboto-normal-delta-5px {
  color: var(--delta);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-s2);
  font-weight: 400;
  font-style: normal;
}
.cascadiacode-regular-normal-blue-marguerite-50px {
  color: var(--blue-marguerite);
  font-family: var(--font-family-cascadia_code-regular);
  font-size: var(--font-size-xxxxl);
  font-weight: 400;
  font-style: normal;
}
.inter-normal-white-7-5px-2 {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-weight: 400;
  font-style: normal;
}
.couriernew-regular-normal-quick-silver-25px {
  color: var(--quick-silver);
  font-family: var(--font-family-courier_new-regular);
  font-size: var(--font-size-xxl2);
  font-weight: 400;
  font-style: normal;
}
.inter-normal-blue-marguerite-25px {
  color: var(--blue-marguerite);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxl2);
  font-weight: 400;
  font-style: normal;
}
.roboto-normal-delta-10px {
  color: var(--delta);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-weight: 400;
  font-style: normal;
}
.inter-bold-macaroni-and-cheese-85px {
  color: var(--macaroni-and-cheese);
  font-family: var(--font-family-inter);
  font-size: 85px;
  font-weight: 700;
  font-style: normal;
}
.roboto-normal-delta-25px {
  color: var(--delta);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxl2);
  font-weight: 400;
  font-style: normal;
}
.inter-bold-macaroni-and-cheese-25px {
  color: var(--macaroni-and-cheese);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxl2);
  font-weight: 700;
  font-style: normal;
}
.inter-normal-white-10px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-weight: 400;
  font-style: normal;
}
.inter-light-white-20px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-weight: 300;
  font-style: normal;
}
.inter-normal-white-25px {
  color: var(--white-2);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxl2);
  font-weight: 400;
  font-style: normal;
}
.inter-normal-white-40px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: 40px;
  font-weight: 400;
  font-style: normal;
}
.inter-bold-fog-25px {
  color: var(--light-hover);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxl2);
  font-weight: 700;
  font-style: normal;
}
.inter-bold-white-15px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-weight: 700;
  font-style: normal;
}
.cascadiacode-regular-normal-white-50px {
  color: var(--white);
  font-family: var(--font-family-cascadia_code-regular);
  font-size: var(--font-size-xxxxl);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cascadia Code-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.animaapp.com/CascadiaCode-Regular") format("truetype");
}
@font-face {
  font-family: "Cascadia Code-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("https://fonts.animaapp.com/CascadiaCode-Bold") format("truetype");
}

.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100vh;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.homepage {
  align-items: flex-start;
  background-color: 
#18002a;
  display: flex;
  flex-direction: column;
  height: 2754px;
  overflow: hidden;
  width: 100vh;
}

.overlap-group1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.title {
  color: #eaba7d;
  font-family: var(--font-family-cascadia_code-bold);
  font-size: 10em;
  font-weight: 700;
  letter-spacing: 10px;
  margin-right: 69.99px;
  margin-top: 135px;
  min-height: 232px;
  min-width: 881px;
  text-align: center;
}

.leaderboard {
  background-image: url(Rectangle-5.png);
  background-color: white;
  background-size: 100%;
  height: 700px;
  width: 1347px;
  border-radius: 2%;
}

.leaderboard22 {
  background-color: white;
  background-size: 100%;
  height: 700px;
  width: 1347px;
  border-radius: 2%;
}

.arrow {
  height: 122px;
  margin-right: 5.89px;
  margin-top: 54px;
  width: 59px;
}

.group-1 {
  align-items: flex-center;
  display: flex;
}

.overlap-group {
  position: relative;
  width: 100vw;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.ellipse-7 {
  background-color: 
#d9d9d926;
  border-radius: 274.98px/261.22px;
  height: 522px;
  left: 0;
  position: absolute;
  top: 275px;
  width: 550px;
}

.earn-points-in-this {
  color: 
transparent;
  font-family: var(--font-family-cascadia_code-regular);
  font-size: var(--font-size-xxxxl);
  font-weight: 400;
  text-align: center;
  letter-spacing: 0;
  position: absolute;
  width: 50vw;
}

@import url("https://fonts.googleapis.com/css?family=Inter:700");

.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.circuit-board {
  align-items: flex-end;
  background: linear-gradient(180deg, rgb(165.34, 71.19, 255) 0%, 
rgb(56, 35, 76) 41.15%, rgb(47.13, 12.95, 79.69) 100%);
  background-color: 
rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  height: 2584px;
  padding: 135.7px 46.9px;
  width: 1441px;
}

.price {
  align-self: center;
  margin-right: 13.3px;
  min-height: 103px;
  min-width: 324px;
  text-align: center;
}

.span {
  letter-spacing: 4.25px;
}

.span1 {
  letter-spacing: 11.47px;
}

.leaderboard {
  background-color: var(--white);
  border-radius: 20px;
  height: 80%;
  margin-top: 67px;
  width: 80%;
}

.elements {
  background-color: #70558ab9;
}
.elements1 {
  background: linear-gradient(90deg, #a99056, #a99056a0);
}
.elements2 {
  background: linear-gradient(90deg, #9c92a6, #9c92a6a0);
}
.elements3 {
  background: linear-gradient(90deg, #7f5b50, #7f5b50a0);
}

