@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "CascadiaCode";
  src: url("../public/fonts/CascadiaCode.ttf");
}
@font-face {
  font-family: "Cascadia Code-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.animaapp.com/CascadiaCode-Regular") format("truetype");
}
@font-face {
  font-family: "Cascadia Code-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("https://fonts.animaapp.com/CascadiaCode-Bold") format("truetype");
}
html,body{
  overflow-x: hidden;
  overflow: overlay;
}

:root {
  --black: 
rgba(0, 0, 0, 1);
  --violet: 
rgba(30, 12, 68, 0.6);
  --main-text: 
rgba(32, 2, 99, 1);
  --grape: 
rgba(56, 35, 76, 1);
  --masala: 
rgba(61, 61, 61, 1);
  --bossanova: 
rgba(65, 40, 89, 1);
  --cyber-grape: 
rgba(88, 47, 127, 0.369);
  --granite-gray: 
rgba(102, 102, 102, 1);
  --blue-marguerite: 
rgba(125, 110, 200, 1);
  --delta: 
rgba(163, 163, 163, 1);
  --quick-silver: 
rgba(164, 164, 164, 1);
  --biloba-flower: 
rgba(173, 162, 227, 0.149);
  --light-hover: 
rgba(217, 210, 255, 1);
  --alto-2: 
rgba(217, 217, 217, 0.251);
  --alto2: 
rgba(217, 217, 217, 1);
  --petite-orchid: 
rgba(221, 152, 152, 1);
  --almost-white: 
rgba(252, 252, 252, 1);
  --macaroni-and-cheese: 
rgba(253, 191, 111, 1);
  --white-2: 
rgba(255, 255, 255, 0.749);
  --white: 
rgba(255, 255, 255, 1);
}


@import url("https://fonts.googleapis.com/css?family=Inter:700");


::-webkit-scrollbar {
  background: transparent;
  width: 15px;
  
}

::-webkit-scrollbar-thumb {
  border: 4px transparent solid;
  background: #989898b8;
  background-clip: padding-box;
  border-radius: 100px;
}